$body-font-size: 1rem;

$max-width: 1024px;

$base-ui-color: #eee;

$brand-face: sans-serif;
$brand-face-medium: sans-serif;
$brand-face-semi-bold: sans-serif;
$brand-face-bold:  sans-serif;

$yellow: #FFE946;
$skyblue: #C0E4F9;
$peach: #EAB39A;

$neutral-white: #ffffff;
$white: #ffffff;
$black: #000000;

$dark-grey: #363636;
$grey: #585858;
$neutral-light-grey: #d4d4d4;
$neutral-extra-light-grey: #FAFAFA;