{% page_required_header %}

    <h1>Career Site quickstart</h1>
    <h2>Useful links</h2>
    <ul>
        <li><a href="">Career Site quickstart guide</a></li>
        <li><a href="">Career site components</a></li>
        <li><a href="">Talemetry developer docs</a></li>
    </ul>

<style>
    main {
        margin: auto;
        max-width:750px;
        padding: 3rem 1rem;
    }
    h1 {
        font-size: 2.5rem;
    }
</style>
{% page_required_footer %}